{# se la pagina rappresenta un'azione di edit o di show #}
{% block navigator %}
	{% if action in ['edit', 'show'] and admin.navigator.available %}
		<ul class="nav navbar-nav navbar-left no-dropdown" id="navigator-block">
			{{ block('previous') }}
			<li class="navigator-block-current">{{ admin.navigator.current }} / {{ admin.navigator.count }}</li>
			{{ block('next') }}
		</ul>
	{% endif %}
{% endblock %}

{% block previous %}
	{% set object = admin.navigator.previous %}

	{% if object %}
		<li class="navigator-block-prev"><i class="fa fa-angle-left"></i><a href="{{ admin.generateObjectUrl(action, object) }}">{{ 'Previous'|trans({}, 'CogitowebTemplateBundle') }}</a></li>
	{% endif %}
{% endblock %}

{% block next %}
	{% set object = admin.navigator.next %}

	{% if object %}
		<li class="navigator-block-next"><a href="{{ admin.generateObjectUrl(action, object) }}">{{ 'Next'|trans({}, 'CogitowebTemplateBundle') }}</a><i class="fa fa-angle-right"></i></li>
	{% endif %}
{% endblock %}
