{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% block show %}
    <div class="sonata-ba-view">
        {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

		{# Setup to handle correct Scaffolding in Bootstrap 3 #}
		{% set open_row  = true  %}
		{% set close_row = false %}

        {% for name, view_group in admin.showgroups %}

			{# Current group has not css_column attribute but it was preceeded by a group with such attribute, therefore is necessary to close the previously open row #}
			{% if view_group.css_column is not defined and close_row %}
                </div>

				{% set open_row  = true  %}
				{% set close_row = false %}
            {% endif %}

			{# Open row if current group has css_column attribute and it was not open before (i.e. current group was not preceeded by a group with such attribute) #}
			{% if view_group.css_column is defined and open_row %}
                <div class="row">

				{% set open_row  = false %}
				{% set close_row = true %}
            {% endif %}
            
            {% if view_group.css_column is defined %}
                <div class="{{ view_group.css_column }}">
            {% endif %}
            
            <table class="table table-bordered 
                {% if view_group.css_column is not defined %}clear-both{% endif %}
                {% if view_group.css_table is defined %}{{ view_group.css_table }}{% endif %}
                {% if view_group.collapsed == true %}collapsed-table{% endif %}">
                {% if name and name matches '/^(?!-+$).*/' %}
                    <tr class="sonata-ba-view-title">
                        <td colspan="2">
                                {% if view_group.collapsed == true %}<span class="opener">{% endif %}
                            {{ admin.trans(name) }}
                                {% if view_group.collapsed == true %}</span>{% endif %}
                        </td>
                    </tr>
                {% endif %}

                {% for field_name in view_group.fields %}
                    <tr class="sonata-ba-view-container">
                        {% if elements[field_name] is defined %}
                            {{ elements[field_name]|render_view_element(object) }}
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
            
            {% if view_group.css_column is defined %}
                </div>
            {% endif %}
            
        {% endfor %}

		{# Close row if alla groups had been processed and the row has been left open (i.e. last processed group (= loop item) had the css_column attribute) #}
		{% if close_row %}
			</div>

			{% set open_row  = true  %}
			{% set close_row = false %}
		{% endif %}

        {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}

    </div>
{% endblock %}